/*
 * Ory Identities API
 *
 * This is the API specification for Ory Identities with features such as registration, login, recovery, account verification, profile settings, password reset, identity management, session management, email and sms delivery, and more.
 *
 * The version of the OpenAPI document: v25.4.0
 * Contact: office@ory.sh
 * Generated by: https://openapi-generator.tech
 */

use super::{AddQuery, ContentType, Error, configuration};
use crate::{models, wasm_apis::ResponseContent};
use gloo_utils::format::JsValueSerdeExt;
use serde::{Deserialize, Serialize, de::Error as _};
use wasm_bindgen::prelude::*;
use wasm_bindgen_futures::JsFuture;
use web_sys::{Request, RequestCredentials, RequestInit, RequestMode, Response};

/// struct for typed errors of method [`get_courier_message`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetCourierMessageError {
    Status400(models::ErrorGeneric),
    DefaultResponse(models::ErrorGeneric),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`list_courier_messages`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ListCourierMessagesError {
    Status400(models::ErrorGeneric),
    DefaultResponse(models::ErrorGeneric),
    UnknownValue(serde_json::Value),
}

/// Gets a specific messages by the given ID.
pub async fn get_courier_message(
    configuration: &configuration::Configuration,
    id: &str,
) -> Result<models::Message, Error<GetCourierMessageError>> {
    // add a prefix to parameters to efficiently prevent name collisions
    let p_id = crate::wasm_apis::urlencode(id);

    let uri_str_len = "/admin/courier/messages/".len() + configuration.base_path.len() + p_id.len();

    let mut uri_str = String::with_capacity(uri_str_len);
    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/admin/courier/messages/");
    uri_str.push_str(&p_id);

    let req_builder = RequestInit::new();
    req_builder.set_method("GET");
    req_builder.set_mode(RequestMode::Cors);
    req_builder.set_credentials(RequestCredentials::Include);

    let req_builder = Request::new_with_str_and_init(&uri_str, &req_builder)?;

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder.headers().set("USER_AGENT", user_agent)?;
    }

    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder.headers().set("Authorization", &value)?;
    };

    req_builder.headers().set("Accept", "application/json")?;

    let req = JsFuture::from(web_sys::window().unwrap().fetch_with_request(&req_builder)).await?;

    assert!(req.is_instance_of::<Response>());
    let resp: Response = req.dyn_into().unwrap();

    let status = resp.status();
    let content_type: ContentType = super::ContentType::from(&resp);
    let content = JsFuture::from(resp.json()?).await?;

    if !(400..600).contains(&status) {
        match content_type {
            ContentType::Json => content.into_serde().map_err(Error::from),
            ContentType::Text => {
                return Err(Error::from(serde_json::Error::custom(
                    "Received `text/plain` content type response that cannot be converted to `models::Message`",
                )));
            }
            ContentType::Unsupported(unknown_type) => {
                return Err(Error::from(serde_json::Error::custom(format!(
                    "Received `{unknown_type}` content type response that cannot be converted to `models::Message`"
                ))));
            }
            ContentType::Missing => {
                return Err(Error::from(serde_json::Error::custom(format!(
                    "Received response that is missing `content-type` header"
                ))));
            }
        }
    } else {
        let entity: Option<GetCourierMessageError> = content.into_serde().ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content: if content.is_undefined() {
                String::from("null")
            } else {
                web_sys::js_sys::JSON::stringify(&content)
                    .map(String::from)
                    .unwrap_throw()
            },
            entity,
        }))
    }
}

/// Lists all messages by given status and recipient.
pub async fn list_courier_messages(
    configuration: &configuration::Configuration,
    page_size: Option<i64>,
    page_token: Option<&str>,
    status: Option<models::CourierMessageStatus>,
    recipient: Option<&str>,
) -> Result<Vec<models::Message>, Error<ListCourierMessagesError>> {
    let client = RequestInit::new();
    client.set_method("GET");
    client.set_mode(RequestMode::Cors);
    client.set_credentials(RequestCredentials::Include);

    let possible_uri_len = "/admin/courier/messages".len()
        + configuration.base_path.len()
        + "page_size".len()
        + i64::MAX.to_string().len()
        + "page_token".len()
        + "status".len()
        + "recipient".len()
        + 9;
    let mut uri_str = String::with_capacity(possible_uri_len);

    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/admin/courier/messages");

    let mut is_first_query: bool = true;

    if let Some(ref str) = page_size {
        uri_str.add_query(&mut is_first_query, "page_size=", &str.to_string());
    }
    if let Some(ref str) = page_token {
        uri_str.add_query(&mut is_first_query, "page_token=", &str);
    };
    if let Some(ref str) = status {
        uri_str.add_query(&mut is_first_query, "status=", &str.to_string());
    }
    if let Some(ref str) = recipient {
        uri_str.add_query(&mut is_first_query, "recipient=", &str);
    }
    let req_builder = Request::new_with_str_and_init(&uri_str, &client)?;

    if let Some(ref user_agent) = configuration.user_agent {
        req_builder.headers().set("USER_AGENT", user_agent)?;
    }

    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        req_builder.headers().set("Authorization", &value)?;
    };

    req_builder.headers().set("Accept", "application/json")?;

    let req = JsFuture::from(web_sys::window().unwrap().fetch_with_request(&req_builder)).await?;

    assert!(req.is_instance_of::<Response>());
    let resp: Response = req.dyn_into().unwrap();

    let status = resp.status();
    let content_type: ContentType = super::ContentType::from(&resp);
    let content = JsFuture::from(resp.json()?).await?;

    if !(400..600).contains(&status) {
        match content_type {
            ContentType::Json => content.into_serde().map_err(Error::from),
            ContentType::Text => {
                return Err(Error::from(serde_json::Error::custom(
                    "Received `text/plain` content type response that cannot be converted to `Vec&lt;models::Message&gt;`",
                )));
            }
            ContentType::Unsupported(unknown_type) => {
                return Err(Error::from(serde_json::Error::custom(format!(
                    "Received `{unknown_type}` content type response that cannot be converted to `Vec&lt;models::Message&gt;`"
                ))));
            }
            ContentType::Missing => {
                return Err(Error::from(serde_json::Error::custom(format!(
                    "Received response that is missing `content-type` header"
                ))));
            }
        }
    } else {
        let entity: Option<ListCourierMessagesError> = content.into_serde().ok();
        Err(Error::ResponseError(ResponseContent {
            status,
            content: if content.is_undefined() {
                String::from("null")
            } else {
                web_sys::js_sys::JSON::stringify(&content)
                    .map(String::from)
                    .unwrap_throw()
            },
            entity,
        }))
    }
}
