/*
 * Ory Identities API
 *
 * This is the API specification for Ory Identities with features such as registration, login, recovery, account verification, profile settings, password reset, identity management, session management, email and sms delivery, and more.
 *
 * The version of the OpenAPI document: v26.2.0
 * Contact: office@ory.sh
 * Generated by: https://openapi-generator.tech (via tools/regen-fetch-apis, see task #23)
 */

use super::{Error, configuration};
use crate::models;
use serde::{Deserialize, Serialize};
use wasm_bindgen::prelude::*;

/// struct for typed errors of method [`get_version`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetVersionError {
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`is_alive`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum IsAliveError {
    DefaultResponse(String),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`is_ready`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum IsReadyError {
    Status503(models::IsReady503Response),
    DefaultResponse(String),
    UnknownValue(serde_json::Value),
}

/// This endpoint returns the version of Ory Kratos.  If the service supports TLS Edge Termination, this endpoint does not require the `X-Forwarded-Proto` header to be set.  Be aware that if you are running multiple nodes of this service, the version will never refer to the cluster state, only to a single instance.
pub async fn get_version(
    configuration: &configuration::Configuration,
) -> Result<models::GetVersion200Response, Error<GetVersionError>> {
    let mut uri_str = String::new();
    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/version");
    let client = web_sys::RequestInit::new();
    client.set_method("GET");
    client.set_mode(web_sys::RequestMode::Cors);
    client.set_credentials(web_sys::RequestCredentials::Include);
    let req_builder = web_sys::Request::new_with_str_and_init(&uri_str, &client)?;
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder.headers().set("USER_AGENT", user_agent)?;
    }
    req_builder.headers().set("Accept", "application/json")?;
    let req = wasm_bindgen_futures::JsFuture::from(
        web_sys::window()
            .expect("Failed to get Window object")
            .fetch_with_request(&req_builder),
    )
    .await?;
    assert!(req.is_instance_of::<web_sys::Response>());
    let resp: web_sys::Response = req
        .dyn_into()
        .expect("Failed to dynamically cast JsFuture into Response");
    super::handle_response(resp).await
}

/// This endpoint returns a HTTP 200 status code when Ory Kratos is accepting incoming HTTP requests. This status does currently not include checks whether the database connection is working.  If the service supports TLS Edge Termination, this endpoint does not require the `X-Forwarded-Proto` header to be set.  Be aware that if you are running multiple nodes of this service, the health status will never refer to the cluster state, only to a single instance.
pub async fn is_alive(
    configuration: &configuration::Configuration,
) -> Result<models::IsAlive200Response, Error<IsAliveError>> {
    let mut uri_str = String::new();
    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/health/alive");
    let client = web_sys::RequestInit::new();
    client.set_method("GET");
    client.set_mode(web_sys::RequestMode::Cors);
    client.set_credentials(web_sys::RequestCredentials::Include);
    let req_builder = web_sys::Request::new_with_str_and_init(&uri_str, &client)?;
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder.headers().set("USER_AGENT", user_agent)?;
    }
    req_builder.headers().set("Accept", "application/json")?;
    let req = wasm_bindgen_futures::JsFuture::from(
        web_sys::window()
            .expect("Failed to get Window object")
            .fetch_with_request(&req_builder),
    )
    .await?;
    assert!(req.is_instance_of::<web_sys::Response>());
    let resp: web_sys::Response = req
        .dyn_into()
        .expect("Failed to dynamically cast JsFuture into Response");
    super::handle_response(resp).await
}

/// This endpoint returns a HTTP 200 status code when Ory Kratos is up running and the environment dependencies (e.g. the database) are responsive as well.  If the service supports TLS Edge Termination, this endpoint does not require the `X-Forwarded-Proto` header to be set.  Be aware that if you are running multiple nodes of Ory Kratos, the health status will never refer to the cluster state, only to a single instance.
pub async fn is_ready(
    configuration: &configuration::Configuration,
) -> Result<models::IsAlive200Response, Error<IsReadyError>> {
    let mut uri_str = String::new();
    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/health/ready");
    let client = web_sys::RequestInit::new();
    client.set_method("GET");
    client.set_mode(web_sys::RequestMode::Cors);
    client.set_credentials(web_sys::RequestCredentials::Include);
    let req_builder = web_sys::Request::new_with_str_and_init(&uri_str, &client)?;
    if let Some(ref user_agent) = configuration.user_agent {
        req_builder.headers().set("USER_AGENT", user_agent)?;
    }
    req_builder.headers().set("Accept", "application/json")?;
    let req = wasm_bindgen_futures::JsFuture::from(
        web_sys::window()
            .expect("Failed to get Window object")
            .fetch_with_request(&req_builder),
    )
    .await?;
    assert!(req.is_instance_of::<web_sys::Response>());
    let resp: web_sys::Response = req
        .dyn_into()
        .expect("Failed to dynamically cast JsFuture into Response");
    super::handle_response(resp).await
}
