/*
 * Ory Identities API
 *
 * This is the API specification for Ory Identities with features such as registration, login, recovery, account verification, profile settings, password reset, identity management, session management, email and sms delivery, and more.
 *
 * The version of the OpenAPI document: v26.2.0
 * Contact: office@ory.sh
 * Generated by: https://openapi-generator.tech (via tools/regen-fetch-apis, see task #23)
 */

use super::{AddQuery, Error, configuration};
use crate::models;
use serde::{Deserialize, Serialize};
use wasm_bindgen::prelude::*;

/// struct for typed errors of method [`get_courier_message`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum GetCourierMessageError {
    Status400(models::ErrorGeneric),
    DefaultResponse(models::ErrorGeneric),
    UnknownValue(serde_json::Value),
}

/// struct for typed errors of method [`list_courier_messages`]
#[derive(Debug, Clone, Serialize, Deserialize)]
#[serde(untagged)]
pub enum ListCourierMessagesError {
    Status400(models::ErrorGeneric),
    DefaultResponse(models::ErrorGeneric),
    UnknownValue(serde_json::Value),
}

/// Gets a specific messages by the given ID.
pub async fn get_courier_message(
    configuration: &configuration::Configuration,
    id: &str,
) -> Result<models::Message, Error<GetCourierMessageError>> {
    let id = crate::worker_apis::urlencode(id);
    let mut uri_str = String::new();
    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/admin/courier/messages/");
    uri_str.push_str(&id);
    let headers = worker::Headers::new();
    if let Some(ref user_agent) = configuration.user_agent {
        headers.append("USER_AGENT", user_agent)?;
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        headers.append("Authorization", &value)?;
    };
    headers.append("Accept", "application/json")?;
    let mut req_builder = worker::RequestInit::new();
    req_builder.with_method(worker::Method::Get);
    req_builder.with_headers(headers);
    let req = worker::Request::new_with_init(&uri_str, &req_builder)?;
    let resp = worker::Fetch::Request(req).send().await?;
    super::handle_response(resp).await
}

/// Lists all messages by given status and recipient.
pub async fn list_courier_messages(
    configuration: &configuration::Configuration,
    page_size: Option<i64>,
    page_token: Option<&str>,
    status: Option<models::CourierMessageStatus>,
    recipient: Option<&str>,
) -> Result<Vec<models::Message>, Error<ListCourierMessagesError>> {
    let mut uri_str = String::new();
    uri_str.push_str(&configuration.base_path);
    uri_str.push_str("/admin/courier/messages");
    let mut is_first_query: bool = true;
    if let Some(ref str) = page_size {
        uri_str.add_query(&mut is_first_query, "page_size=", &str.to_string());
    }
    if let Some(ref str) = page_token {
        uri_str.add_query(&mut is_first_query, "page_token=", &str.to_string());
    }
    if let Some(ref str) = status {
        uri_str.add_query(&mut is_first_query, "status=", &str.to_string());
    }
    if let Some(ref str) = recipient {
        uri_str.add_query(&mut is_first_query, "recipient=", &str.to_string());
    }
    let headers = worker::Headers::new();
    if let Some(ref user_agent) = configuration.user_agent {
        headers.append("USER_AGENT", user_agent)?;
    }
    if let Some(ref apikey) = configuration.api_key {
        let key = apikey.key.clone();
        let value = match apikey.prefix {
            Some(ref prefix) => format!("{} {}", prefix, key),
            None => key,
        };
        headers.append("Authorization", &value)?;
    };
    headers.append("Accept", "application/json")?;
    let mut req_builder = worker::RequestInit::new();
    req_builder.with_method(worker::Method::Get);
    req_builder.with_headers(headers);
    let req = worker::Request::new_with_init(&uri_str, &req_builder)?;
    let resp = worker::Fetch::Request(req).send().await?;
    super::handle_response(resp).await
}
